{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% block profileactive %}active{% endblock profileactive%}
{% block css %}
.profile {
    background-color: #f8f9fa;  /* Light background for the profile area */
}
.profile-img {
    text-align: center;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.btn {
    font-family: system-ui, sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
    padding: .1em .6em;
    font-weight: bold;
    border: none;
    box-shadow: 0 0 0 .1em inset var(--c, #229091); /* the color */
    background: linear-gradient(var(--c, #229091) 0 0) no-repeat;
    transition: background-size .4s, background-position 0s .4s;
    outline-offset: .1em;
}
.btn:hover, .btn:focus {
    background-position: 0% 50%, 100% 50%;
    background-size: 200% 100%;
    color: #fff; /* White text when hovered/focused */
}
{% endblock %}
{% block body %}
<div class="container profile">
    <div class="row m-5">
        <div class="col-md-4">
            <div class="profile-img">
                {% if user.profile.image %}
                <img src="{{ user.profile.image.url }}" alt="Profile image" width="310px" height="270px" class="img-fluid rounded-circle" />
                {% endif %}
            </div>
        </div>
        <div class="col-md-8">
            <div class="profile-info">
                <div class="tab-content">
                    <h2>Profile Details</h2>
                    <div class="row mb-3">
                        <div class="col-md-6"><h4>Username:</h4></div>
                        <div class="col-md-6"><h4>{{ user.username }}</h4></div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6"><h4>Full Name:</h4></div>
                        <div class="col-md-6"><h4>{{ user.get_full_name }}</h4></div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6"><h4>Email:</h4></div>
                        <div class="col-md-6"><h4>{{ user.email }}</h4></div>
                    </div>
                    {% if user.profile.bio %}
                    <div class="row mb-3">
                        <div class="col-md-6"><h4>Bio:</h4></div>
                        <div class="col-md-6"><h4>{{ user.profile.bio }}</h4></div>
                    </div>
                    {% endif %}
                </div>
                <a href="/edit_profile/" class="btn btn-primary btn-lg">Edit Profile</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
